<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-boot-h2-jpa-restserver:war exploded">
    <output-path>$PROJECT_DIR$/target/spring.boot.restjpa-0.0.1</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-boot-h2-jpa-restserver" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-web:1.5.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter:1.5.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-logging:1.5.2.RELEASE" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.1.11" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.1.11" />
          <element id="library" level="project" name="Maven: org.slf4j:jul-to-slf4j:1.7.24" />
          <element id="library" level="project" name="Maven: org.slf4j:log4j-over-slf4j:1.7.24" />
          <element id="library" level="project" name="Maven: org.yaml:snakeyaml:1.17" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-validator:5.3.4.Final" />
          <element id="library" level="project" name="Maven: javax.validation:validation-api:1.1.0.Final" />
          <element id="library" level="project" name="Maven: org.jboss.logging:jboss-logging:3.3.0.Final" />
          <element id="library" level="project" name="Maven: com.fasterxml:classmate:1.3.3" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.8.7" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.8.7" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.3.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.3.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.3.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.3.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.3.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.3.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-jetty:1.5.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-servlets:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-continuation:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-http:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-util:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-io:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-webapp:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-xml:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-servlet:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-security:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-server:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty.websocket:websocket-server:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty.websocket:websocket-common:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty.websocket:websocket-api:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty.websocket:websocket-client:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-client:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty.websocket:websocket-servlet:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.1.0" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty.websocket:javax-websocket-server-impl:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-annotations:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty:jetty-plus:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: javax.annotation:javax.annotation-api:1.2" />
          <element id="library" level="project" name="Maven: org.ow2.asm:asm:5.1" />
          <element id="library" level="project" name="Maven: org.ow2.asm:asm-commons:5.1" />
          <element id="library" level="project" name="Maven: org.ow2.asm:asm-tree:5.1" />
          <element id="library" level="project" name="Maven: org.eclipse.jetty.websocket:javax-websocket-client-impl:9.4.2.v20170220" />
          <element id="library" level="project" name="Maven: javax.websocket:javax.websocket-api:1.0" />
          <element id="library" level="project" name="Maven: org.mortbay.jasper:apache-el:8.0.33" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.24" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.3.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-data-rest:1.5.2.RELEASE" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.8.0" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-rest-webmvc:2.6.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-rest-core:2.6.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.hateoas:spring-hateoas:0.23.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.plugin:spring-plugin-core:1.2.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.atteo:evo-inflector:1.2.1" />
          <element id="library" level="project" name="Maven: org.slf4j:jcl-over-slf4j:1.7.24" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-data-jpa:1.5.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-aop:1.5.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.8.9" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-jdbc:1.5.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-jdbc:8.5.11" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-juli:8.5.11" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:4.3.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-core:5.0.12.Final" />
          <element id="library" level="project" name="Maven: org.hibernate.javax.persistence:hibernate-jpa-2.1-api:1.0.0.Final" />
          <element id="library" level="project" name="Maven: org.javassist:javassist:3.21.0-GA" />
          <element id="library" level="project" name="Maven: antlr:antlr:2.7.7" />
          <element id="library" level="project" name="Maven: org.jboss:jandex:2.0.0.Final" />
          <element id="library" level="project" name="Maven: dom4j:dom4j:1.6.1" />
          <element id="library" level="project" name="Maven: org.hibernate.common:hibernate-commons-annotations:5.0.1.Final" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-entitymanager:5.0.12.Final" />
          <element id="library" level="project" name="Maven: javax.transaction:javax.transaction-api:1.2" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-jpa:1.11.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-commons:1.13.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-orm:4.3.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:4.3.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aspects:4.3.7.RELEASE" />
          <element id="library" level="project" name="Maven: com.h2database:h2:1.4.193" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot:1.5.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-autoconfigure:1.5.2.RELEASE" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/spring.boot.restjpa-0.0.1/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-boot-h2-jpa-restserver/web/Web" />
    </root>
  </artifact>
</component>